@import url('~onsenui/css-components-src/src/theme.css'); /* Original theme */
@import url('~onsenui/css-components-src/src/components/index.css'); /* Original components */
@import url('~onsenui/css-components-src/src/iphonex-support/index.css');

h3 {
  font-size: 1.5em !important;
  color: #2bba9e;
  font-weight: bold;
}

h4 {
  font-size: 22px;
  color: #2bba9e;
  font-weight: 700;

}

